<div class="d-flex align-content-center justify-content-center flex-wrap" id="talentsList">
    <% talents.each do |talent| %>    
        <div class="card m-4" style="width: 400px;">
            <div class="card-body">
                <h3 class="card-title"><%= talent.full_name %></h3>
                <h6 class="card-text mb-2"><%= talent.title %></h6>
                <h6 class="card-subtitle mt-2 mb-2 text-muted"><%= talent.entity %></h6>
                

                <% if talent.email %>
                <i class="fas fa-envelope"> <%= talent.email %></a></i>
                <% end %>

                <% if talent.contact %>
                    <i class="fas fa-phone" id="copy-mobile"><span id='copy-text'> <%= talent.contact %></span></i>
                <% end %>
            </div>
        </div>
    <% end %>
</div>

